.cardsCtn {
    width: 90%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.designCard {
    border-radius: 10px;
    overflow: hidden;
    width: 810px;
    box-shadow: 1px 1px 20px hsla(180, 0%, 0%, 0.15);
    margin: 2rem;
    height: 668px;
    transition: all 0.25s ease-out;
}

.designCardImgCtn{
    border-bottom: 3px solid hsla(180, 32%, 78%, 1);
    width: 810px;
    height: 600px;
    overflow: hidden;
}

.designCardImg {
    width: 810px;
}

.designCard:hover{
    box-shadow: 2px 2px 24px hsla(180, 0%, 0%, 0.2);
    transform: scale(1.02);
    transition: all 0.25s ease-out;
}


 /************ Tall Card ************/

.designCardTall {
    border-radius: 10px;
    overflow: hidden;
    width: 284px;
    box-shadow: 1px 1px 20px hsla(180, 0%, 0%, 0.15);
    margin: 2rem;
    height: 668px;
    transition: all 0.25s ease-out;
}

.designCardImgCtnTall{
    border-bottom: 3px solid hsla(180, 32%, 78%, 1);
    width: 284px;
    height: 600px;
    overflow: hidden;
}

.designCardImgTall {
    width: 284px;
}

.designCardTall:hover{
    box-shadow: 2px 2px 24px hsla(180, 0%, 0%, 0.2);
    transform: scale(1.02);
    transition: all 0.25s ease-out;
}

.designCardTitleCtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.designCardTitle {
    color: hsla(180, 0%, 30%, 1);
    font-weight: 600;
    font-size: 1.25rem;
    margin-left: 2rem;
}

.previewBtn{
    font-size: 1.15rem;
    color: white;
    background-color: hsla(180, 40%, 40%, 1);
    padding: 5px 14px;
    margin-right: 2rem;
    cursor: pointer;
    border-radius: 60px;
    text-decoration: none;
}
