.webCard {
    border-radius: 10px;
    overflow: hidden;
    width: 575px;
    box-shadow: 1px 1px 20px hsla(180, 0%, 0%, 0.15);
    margin: 2rem;
    height: 383px;
    transition: all 0.25s ease-out;
}

.webCard:hover{
    box-shadow: 2px 2px 24px hsla(180, 0%, 0%, 0.2);
    transform: scale(1.02);
    transition: all 0.25s ease-out;

}

.webCardImgCtn{
    border-bottom: 3px solid hsla(180, 32%, 78%, 1);
    width: 575px;
    height: 315px;
    overflow: hidden;
}

.webCardImg {
    width: 575px;
}

.webCardTitleCtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}


.webCardTitle {
    color: hsla(180, 0%, 30%, 1);
    font-weight: 600;
    font-size: 1.25rem;
    margin-left: 1.5rem;
}

.webRepoBtn{
    font-size: 1.15rem;
    color: white;
    background-color: hsla(180, 40%, 40%, 1);
    padding: 5px 14px;
    margin-right: 1.5rem;
    cursor: pointer;
    border-radius: 60px;
    text-decoration: none;
}


@media (max-width: 680px) {

    .webCard {
        display: flex;
        flex-direction: column;
        width: 92vw;
        margin: 1.25rem 0.25rem;
        height: 58vw;
    }
    
    .webCardImgCtn{
        width: 100%;
        height: 50vw;
        overflow: hidden;
    }
    
    .webCardImg {
        width: 100%;
    }

    .webCardTitle {
        margin-left: 1rem;
        font-size: 1.1rem;
    }
    
    .webRepoBtn{
        margin-right: 1rem;
        font-size: 1rem;
        padding: 8px 14px;
    }

  }